

@font-face {
    font-family: 'advent_proregular';
    src: url('fonts/adventpro-regular-webfont.woff2') format('woff2'),
         url('fonts/adventpro-regular-webfont.woff') format('woff');
	src :local('AdventPro-Regular'),
    font-weight: normal;
    font-style: normal;
	font-family: 'Alatsi-Regular';
    src: url('Alatsi-Regular.ttf') format('ttf'),
	font-style: normal;
	font-family: 'Poppins-Regular';
	src:local('Poppins-Regular.ttf'),
    src:url('Poppins-Regular.ttf') format('ttf'),
    font-style: normal;	
}

 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }


body
{
	background-color: #000000;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-x:hidden;
	font-family: Poppins,Sans-serif;
}

header{
	display: flex;
	justify-content: flex-start;
	align-items: baseline;
	font-family: 'Open Sans', sans-serif;
	background-color: #202020;
	text-transform: uppercase;
	flex-wrap: wrap;

}
.Dev
{
	flex:1;
	color: #ffffff;
	font-size: max(3vw,35px);
	font-weight: 600;
	height: auto;
	margin: auto;
	position: relative;
	letter-spacing: 4px;
}

#presentation

{
	padding: 60px;
	font-size: 2.5em;
	color: white;
	text-align: center;
	justify-content: center;
	margin: auto;
	width: 100%;

}


.bonjour

{
	font-size: max(2.3vw,23px);
	color: white;
	text-align: center;
	justify-content: center;
	font-family: 'Playfair Display', serif;
	margin: auto;
	margin-bottom: 40px;
	width: 15em;

}

@media screen and (max-width: 500px){
	header,.Dev{
		display: flex;
		justify-content: center;
	}
	.bonjour{
		font-size: 22px;
	}
	#presentation{
		padding-bottom:0px
	}
	.logocode{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.html,.css,.js{
		height: 3vw;	
		margin: -15px;
	}
	
	.adobe{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.realisations{
		display: block;
		flex-wrap: wrap;
	}
	.blocmail{
		width: 60%;
		height: 10vw;
	}
	.textemail{
		font-size: max(0.7vw, 5px);
		width: 10%;
	}
	footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.liste{
		margin-bottom: -45px;
	}
	.din{
		margin-bottom: -100px;
	}

}
@media screen and (max-width: 1000px){
	.realisations{
		flex-wrap: wrap;
	}
	.containerlh{
		margin-bottom: 20vw;
	}

}


#texte2

{
	font-size: max(1.2vw,15px);
	color: white;
	text-align: center;
	justify-content: center;
	font-family:Poppins,Sans-serif;
	margin: auto;
	width: 50%;

}
h1
{	
	font-size: 1.0em;
	font-family:Poppins-regular,Sans-serif;
}

h2
{
	font-size: max(2em,15px);
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}


.menu ul
{
	list-style-type: none;
	display: flex;
}

.menu li
{
	margin-right: 18px;
	
}

.menu a
{
	font-size: max(1.0vw, 15px);
	color: #ffffff;;
	text-decoration: none;
	letter-spacing: 4px;
}

.menu a:hover
{

	font-weight: bold;
	color:#d4d4d4;
	text-decoration: underline;
}

img.developpeur{
	border-radius: 8px;
	height: auto;
	width: 100%;
}

#conteneur1
	{
	display: block;	
	justify-content: center;
	background-color: #000000;
	height:25em;
	width: 100%;
	margin-bottom: 10px;
	}

.bloccentral
{
	display:flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.Designer
{	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	border-width: 0.1px;
	border-style: solid;
	border-radius: 25px;
	margin: auto;
	width: 80%;
	height: 45em;
	margin-bottom: 10px;
	text-align: center;
	transition: 0.7s ease-in-out;
}

.Designer:hover{
	box-shadow: 0px 0px 10px #651268;
}

.Designer-text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 50%;
	height: 80%;
}

.Designer p{
	color: #ffffff;
	font-size: 1.2em;
	text-align: left;
	width: 85%;
	height: auto;
	margin: 2em;
	margin-top: 0.1em;
}

.Designer h2{
	text-align: left;
	font-size: 6em;
	font-weight: 19em;
	color: rgb(168, 99, 202);
	margin: 0.3em;
	margin-bottom: -0.5em;
}

.Designer h3{
	text-align: left;
	font-size: 3em;
	font-weight: 19em;
	color: rgb(255, 255, 255);
	margin: 0.8em;
}

img.design
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	margin: auto;
	width: 50%;
	height: auto;
}

.bouton-Designer{
	display: flex;
	flex-wrap: wrap;
	width: 10em;
	height: 4em;
	padding: 0.3em;
	justify-content: center;
	border-radius: 16px;
	border: 1px solid #ffffff;
	color: #d4d4d4;
	font-size: 1.4em;
	margin-left: 2em;
}
.codeur
{
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	background-color: #12131d;
	border-width: 0.1px;
	border-style: solid;
	border-radius: 25px;
	margin: auto;
	width: 80%;
	height: 45em;
	margin-bottom: 10px;
	text-align: center;
	transition: 0.7s ease-in-out;
}

.codeur-text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 50%;
	height: 80%;
}

.codeur p{
	color: #ffffff;
	font-size: 1.2em;
	text-align: left;
	width: 85%;
	height: auto;
	margin: 2em;
	margin-top: 0.1em;
}

.codeur h2{
	text-align: left;
	font-size: 6em;
	font-weight: 19em;
	color: rgb(123, 121, 124);
	margin: 0.3em;
	margin-bottom: -0.5em;
}

.codeur h3{
	text-align: left;
	font-size: 3em;
	font-weight: 19em;
	color: rgb(255, 255, 255);
	margin: 0.8em;
}

.codeur img{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	margin: auto;
	width: 50%;
	height: auto;

}

.realisations{
	display:flex;
	gap: 2em;
	justify-content: center;
	align-items: flex-start;
	height: 30em;
	margin: auto;
	width: 90%;
}

.containerlh,.containerpps{
	width: 100%;
	height: auto;
}

.containerlh img, .containerpps img{
	position: relative;
	width: 100%;
	filter: blur(0px);
	transition-property: -webkit-filter;
	transition-duration: .5s;
	border-radius: 10px;
}

.recouvertlh, .recouvertpps {
	z-index: -2;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%; width: 100%;
    opacity: 0; transition: all .5s; 
}
.containerlh:hover .recouvertlh,.containerpps:hover .recouvertpps {
    opacity: 1;
}
.containerlh:hover img,.containerpps:hover img
{
	filter: blur(5px);
	transition-property: -webkit-filter;
	transition-duration: .5s;
}

.recouvertlh span,.recouvertpps span{
	color: white;
    font-size: 1.5em;
    position: absolute;
    top: 100%;
    left: 50%;
    font-family: Poppins-Regular,Sans-serif;
    text-transform: uppercase;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.carrousel{
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
	max-width: 100em;
	max-height: 400px;
	box-shadow: 0 0 14px black;
	position: relative;
	overflow: hidden;
	border-radius: 3px;
}

#containerx{
	width: 100vh;
	max-height: 400px;
	display: flex;

}

.photo{
	width: 100%;
	height: 25em;
	margin: 0;
	display: inline-flex;
	background-size: cover;

}

.bouton{
	position: absolute;
	width: 70px;
	cursor: pointer;
	top: 150px;
}

#g{
	right: 5px;
	transform: rotate(0deg);
	opacity: 0.4;
	transition:all 0.3s ease;
}

#d{
	left: 5px;
	transform: rotate(180deg);
	opacity: 0.4;
	transition:all 0.3s ease;
}

#g:hover{
	right: 5px;
	transform: rotate(0deg) scale(1.1);
	opacity: 1;
	transition:all 0.3s ease;
}

#d:hover{
	right: 5px;
	transform: rotate(180deg) scale(1.1);
	opacity: 1;
	transition:all 0.3s ease;
}

.lebouton{
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-transform: uppercase;
	width: 10em;
	min-height: 100%;
	font-family:Poppins-Regular,Sans-serif;
	font-size: 1.5em;


}

.blocmail
{
	position: relative;
	color: white;
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: -20px;
	border-radius: 18px;
	background-color: #3b3736;
	width: 60%;
	max-height: 50px;
	padding: 80px;
	padding-top: 45px;
	padding-bottom: 45px;
	box-shadow: 1px 1px 1px black;

}

.demarrer
{
	display: block;
	font-family:Poppins-Regular,Sans-serif;
	text-transform: uppercase;
	font-size: max(1.5vw,16px);
	width: 80%;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

.textemail
{
	display: block;
	font-family:Poppins-Regular,Sans-serif;
	width: 100%;
	font-size: max(1.2vw,16px);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-right: 35px;
	padding-right: 35px;

}

.mailme
{
	display: block;
	font-family:Poppins-Regular,Sans-serif;
	width: 80%;
	font-size: 1.3em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid;
	border-color: #FFCC70;
	border-radius: 25px;
	padding-top: 10px;
	transition-property: background-color;
	transition-duration: 0.4s;

}

.mailme:hover
{
	background-color: #FFCC70;
	color: black;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: 0.4s;
}


footer
{
	z-index: 99999;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #202020;
	text-transform: uppercase;
	margin: auto;
	padding: 10px;
	color:white;
	height: auto;
	font-family:Poppins-Regular,Sans-serif;
	width: 100%;

}

footer h3 {

	display: flex;
	justify-content: center;
}

.foot a
{
	
	font-family:Poppins-Regular,Sans-serif;
	color:white;
}

.foot
{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
}

div.din
{
	display:flex;
	align-items: center;
	justify-content: center;
}
.copyright
{
	display: flex;
	flex-wrap: wrap;
	font-family:Poppins-Regular,Sans-serif;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
	padding: 15px;
}
