 

 /* ----------------------------------------JEU */

body.jeu{
	overflow:hidden;
}
.site i{
	font-size: 3em;
}
.bienvenue{
	color: white;
	font-size: 4em;
    font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
	margin-top: 1em;
 }
/*bouton*/
.site{
	display: block;
	margin:auto;
	margin-top: 6em;
    width: 10em;
    height: 10em;
    border: 2px;
    outline: none;
    color: #fff;
    background: #111;
    position: relative;
    border-radius: 50%;
}

.site:before {
    content: '';
    background: linear-gradient(50deg, #aeaeae,#f8f8f8, #c2c2c2, #f0f0f0,#c3c3c3, #cdcdcd, #a0a0a0,#b1b1b1, #dbdbdb);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(1px);
    width: calc(103% + 0px);
    height: calc(103% + 1px);
    animation: glowing 11s linear alternate-reverse infinite;
    opacity: 1;
    transition: opacity 0.1s ease-in;
	border-radius: 50%;
}

.site:active {
    color: rgb(182, 180, 180);
	background-color: #000000;
}

.site:active:after {
    background: transparent;
}

.site:hover:before {
    opacity: 1;
}

.site:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 50%;
}

@keyframes glowing {
    0% { background-position: 0 0;}
    50% { background-position: 600% 0;}
    100% { background-position: 0 0; }
}


.jouer{
	 font-size: 1.2em;
	 border: none;
	 padding: 10px;
	 width:5em;
	 height: 5em;
	 border-radius: 50%;
	 margin-top: 14em;
	 margin-left:1em;
	 position: absolute;
	 background-color: #111;
	 color: lightgray;
	 animation: move 5s ease-in-out alternate infinite;
 }
 @keyframes move{
	 0%{
		transform: translateX(-10px);
	 }
	 30%{
		transform: translateY(-20px);
	 }
	 60%{
		transform: translateX(-20px);
	 }
	 100%{
		transform: translateY(-20px);
	 }
 }



@keyframes glow{
	from{
		filter: invert(100%);
	}
	to{
		filter: invert(10%);
	}
}

/*----------------JEU--------------*/
.rocket,.avion,.rocket2{
    position: relative;
    width: 80px;
    height: auto;
}
.conteneurciel{
	width: 800em;
	height: 20em;
	background-image: url('images/ciel2.png');
	bottom: 0;
	position: absolute;
	z-index: -1;
	cursor: none;
	display: none
}
.conteneurjeu{
    width: 90%;
    height: 20em;
	margin-left: 11em;
	bottom: 0;
	display: none;
    overflow: hidden;
    position: absolute;
}
.rocket{
    margin-left: 2500px;
    margin-bottom: 20em;
}

.explosion{
    display: none ;
    position: relative;
    width: 250px;
}

/* ------------------------------------------------------ */
 a, a:hover, a:focus, a:active {
      text-decoration: none;
      color: inherit;
 }
 html{
    scroll-behavior: smooth;
}
body
{
	background-color: #000000;
	padding: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	overflow-x:hidden;
	font-family: 'Open Sans', sans-serif;
}

header{
	display: flex;
	 justify-content: flex-start;
	align-items: baseline;
	font-family: 'Open Sans', sans-serif;
	background-color: #383838;
	text-transform: uppercase;
	flex-wrap: wrap;
}

.Dev
{
	flex:1;
	color: #ffffff;
	font-size: max(3vw,35px);
	font-weight: 600;
	height: auto;
	margin: auto;
	position: relative;
	letter-spacing: 4px;
}
.menulateral{
	display: flex;
	flex-direction: column;
	width: 4em;
	height: 19em;
	background-color: #383838;
	border-radius: 15px;
	margin-left: 1em;
	position: absolute;
	top:12em;
	z-index: 2;
}

.menulateral i{
	display: flex;
	font-size: 2em;
	color: white;
	justify-content: center;
	align-items: center;
	margin-top: 1.1em;
	transition: 0.3s ease-in-out;
}

i:hover{
	color: #717171;
}
i.fa-circle-chevron-up{
	display: none;
}

.bonjour

{
	font-size: max(2.3vw,23px);
	color: white;
	text-align: center;
	justify-content: center;
	font-family: 'Playfair Display', serif;
	margin: auto;
	margin-top: 2em;
	margin-bottom: 40px;
	width: 15em;

}
#texte2

{
	font-size: max(1.2vw,15px);
	color: white;
	text-align: center;
	justify-content: center;
	font-family:Poppins,Sans-serif;
	margin: auto;
	width: 50%;

}

h1
{	
	font-size: 1.0em;
	font-family:Poppins-regular,Sans-serif;
}

h2
{
	font-size: max(2em,15px);
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
}


.menu ul
{
	list-style-type: none;
	display: flex;
	margin-top: 1.5em;
}

.menu li
{
	margin-right: 18px;
	
}

.menu a
{
	font-size: max(1.0vw, 15px);
	color: #ffffff;;
	text-decoration: none;
	letter-spacing: 4px;
}
.siteexit {
	display: flex;
	width: 4em;
	height: 4em;
	margin-right: 2em;
}

.menu a:hover
{

	font-weight: bold;
	color:#d4d4d4;
	text-decoration: underline;
}

#conteneur1
	{
	display: block;	
	justify-content: center;
	background-color: #000000;
	height:25em;
	width: 100%;
	margin-bottom: 10px;
	}

.bloccentral
{
	display:flex;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

#designer
{	
	opacity: 1;
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	background-color: #FF3CAC;
	background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
	border-radius: 25px;
	margin: auto;
	width: 80%;
	height: auto;
	margin-bottom: 10px;
	text-align: center;
}
#designer-text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 35em;
	height: 50em;
}

#designer p{
	color: #ffffff;
	font-size: 1.2em;
	text-align: left;
	width: 85%;
	height: auto;
	margin: 2em;
	margin-top: 0.1em;
}

#designer h2{
	text-align: left;
	font-size: 6em;
	font-weight: 19em;
	color: rgb(168, 99, 202);
	margin: 0.3em;
	margin-bottom: -0.5em;
}

#designer h3{
	text-align: left;
	font-size: 3em;
	font-weight: 19em;
	color: rgb(255, 255, 255);
	margin: 0.8em;
}

img.design
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	margin: auto;
	width: 40em;
	height: auto;
}

#btn-designer{
	display: flex;
	flex-wrap: wrap;
	width: 10em;
	height: 2em;
	padding: 0.2em;
	justify-content: center;
	border-radius: 16px;
	border: 1px solid #ffffff;
	color: #d4d4d4;
	font-size: 1.4em;
	margin-left: 2em;
}
#codeur
{
	display: flex;
	flex-wrap: wrap;
	padding: 0.5em;
	background-color: #12131d;
	border-radius: 25px;
	margin: auto;
	width: 80%;
	height: auto;
	margin-bottom: 10px;
	text-align: center;
	transition: 0.7s ease-in-out;
	margin-bottom: 10em;
}

#codeur-text{
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 32em;
	height: 80%;
}

#codeur p{
	color: #ffffff;
	font-size: 1.2em;
	text-align: left;
	width: 85%;
	height: auto;
	margin: 2em;
	margin-top: 0.1em;
}

#codeur h2{
	text-align: left;
	font-size: 5em;
	font-weight: 19em;
	color: rgb(123, 121, 124);
	margin: 0.3em;
	margin-bottom: -0.5em;
	z-index: 1;
	animation: 0.9s ease pulse infinite alternate ;
}

@keyframes pulse{

	0%{
		color:rgb(123, 121, 124);
	}

	25%{
		color:rgb(128, 126, 129);	
	}
	50%{
		color:rgb(134, 132, 134);	
	}
	75%{
		color:rgb(140, 140, 142);
	}
	100%{
		color:rgb(145, 145, 149);	
	}



}

#codeur h3{
	text-align: left;
	font-size: 3em;
	font-weight: 19em;
	color: rgb(255, 255, 255);
	margin: 0.8em;
}

#codeur img{

	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-self: flex-start;
	margin: auto;
	width: 40em;
	height: auto;
}

.languages{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10em;
	margin-top: 10em;
	width: 100vw;
	height: auto;
	
}
.HTML,.CSS,.JS{
	color: #ffffff;
	font-size: 8em;
}

.HTML{
	animation: 1s ease-out infinite alternate-reverse 0.4s html forwards;
}
.CSS{
	animation: 1.5s ease-out infinite alternate-reverse 1.5s html  forwards;
}

.JS{	
	animation: 1.9s ease-out infinite alternate-reverse 2s html forwards;
}

@keyframes html{

	from{
		transform: translate(2%,4%);
	}
	to{
		transform: translate(6,1%);
	}

}

#container{
	background-image: linear-gradient(
		to bottom,
		#ffffff 50%,
		#000000 50%
	);
}
#container::after{
	content:"";
	display: block;
	min-height: 100vh;
}
#content{
	min-height: 100vh;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	align-items: center;
	padding-bottom:100px;
	mix-blend-mode:exclusion;
}
#content p {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	gap: 1em;
	color: rgb(255, 255, 255);
	font-size: 15em;
	width:100vw;
	margin-top: 0.3em;
}

.fa-html5{
	color: #d36601;
}
.fa-css3-alt{
	color: #0886b8;
}
.fa-js-square{
	color: #fafc9b;

}

/* ZOOM PHOTO */

.containerphoto{
	background-image: linear-gradient(
		to bottom,
		#fff 50%,
		#fff 50%
	);
}
.containerphoto::after{
	content:"";
	display: block;
	min-height: 130vh;
}
.contentphoto{
	min-height: 130vh;
	position: sticky;
	top: 0px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.contentphoto img{
	width: 45vw;
	margin: auto;
	transition: 0.1s ease-out;
	-webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.77);
	-moz-box-shadow:    0px 0px 6px 0px rgba(50, 50, 50, 0.77);
	box-shadow:         0px 0px 6px 0px rgba(50, 50, 50, 0.77);
}


/* ----------------------------- */

.lebouton{
	display: flex;
	justify-content: center;
	text-align: center;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	text-transform: uppercase;
	width: 10em;
	min-height: 100%;
	font-family:Poppins-Regular,Sans-serif;
	font-size: 1.5em;


}

#blocmail
{
	display: flex;
	position: relative;
	color: white;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5em;
	margin-bottom: 5em;
	border-radius: 18px;
	background-color: #202020;
	width: 80%;
	max-height: 15em;
	padding: 80px;
	padding-top: 45px;
	padding-bottom: 45px;
	box-shadow: 1px 1px 1px black;

}

#demarrer
{
	display: block;
	font-family:Poppins-Regular,Sans-serif;
	text-transform: uppercase;
	font-size: max(1.5vw,16px);
	width: 80%;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}

#textemail
{
	display: block;
	font-family:Poppins-Regular,Sans-serif;
	width: 100%;
	font-size: max(1.2vw,16px);
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-right: 35px;
	padding-right: 35px;

}

#mailme
{
	display: block;
	font-family:Poppins-Regular,Sans-serif;
	width: 80%;
	font-size: 1.3em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: 2px solid;
	border-color: #FFCC70;
	border-radius: 25px;
	padding-top: 10px;
	transition-property: background-color;
	transition-duration: 0.4s;

}

#mailme:hover
{
	background-color: #FFCC70;
	color: black;
	cursor: pointer;
	transition-property: background-color;
	transition-duration: 0.4s;
}

form{
	margin: auto;
	width: 70em;
	height: 25em;
	background-color: #202020;
	margin-bottom: 5em;
	color: white;
}

form i{
	font-size: 5em;
}
input{
	display: block;
	float: left;
	padding: 0.4em;
	margin: 2em;
}

textarea{
	display: flex;
	width: 100%;
	margin:auto
}


footer
{
	z-index: 99999;
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: #202020;
	text-transform: uppercase;
	margin: auto;
	padding: 10px;
	color:white;
	height: auto;
	font-family:Poppins-Regular,Sans-serif;
	width: 100%;

}

footer h3 {

	display: flex;
	justify-content: center;
}


div.din
{
	display:flex;
	align-items: center;
	justify-content: center;
}
.copyright
{
	display: flex;
	flex-wrap: wrap;
	font-family:Poppins-Regular,Sans-serif;
	justify-content: center;
	text-align: center;
	align-items: flex-end;
	padding: 15px;
}
